{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{{pagename}}</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css'%}">
</head>
<body>
{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href='{%static "css/bootstrap.css"%}'>
	</head>
<body>
	<!-- this is a navbar -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Project Alpha</a>
		</div>
	
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/">Home</a></li>
				<li class="active"><a href="/addstudent">Add student</a></li>
			</ul>

		</div><!-- /.navbar-collapse -->
	</nav>
	{% block content %}
	{% endblock %}




</body>
</html>